In [1]:
import pandas as pd

In [2]:
pd.DataFrame

pandas.core.frame.DataFrame

In [10]:
json_my_data = [{'Friday' : 8, 'Saturday' : 14, 'Sunday' : 2}, {'Friday' : 6, 'Saturday' : 12, 'Sunday' : 6}, {'Friday' : 10, 'Saturday' : 12, 'Sunday' : 4}]

In [11]:
my_data = pd.DataFrame(json_my_data)

In [12]:
my_data

   Friday  Saturday  Sunday
0       8        14       2
1       6        12       6
2      10        12       4

In [13]:
my_data.head(1)

   Friday  Saturday  Sunday
0       8        14       2

In [14]:
my_data.index

RangeIndex(start=0, stop=3, step=1)

In [19]:
my_data['Friday']

0     8
1     6
2    10
Name: Friday, dtype: int64

In [18]:
my_data.iloc[0]

Friday       8
Saturday    14
Sunday       2
Name: 0, dtype: int64

In [21]:
my_data.to_csv('copy_my_data.csv')

In [22]:
ls

Lepley_SystemsCheck.ipynb       pandas Challenge example.ipynb
cces_example_data.csv           pandas Challenge.ipynb
copy_my_data.csv                pexels-lukas-669623.jpg
inclass 1_29.ipynb              subset_cces_example_data.csv




## Why are dynamic, interactive data visualizations useful when communicating data?

- Interactive data visualizations are useful when communicating data because they can encourage engagement with the data in ways that static images cannot. The text also argues that interactive data visualizations can engage audiences who otherwise may not care about the topic or data.